*.iml
/*.ipr
/*.iws
/.apt_generated
/.classpath
/.factorypath
/.gradle
/.idea
/.metadata
/.project
/.settings
/.vagrant
/bin
/bower_components
/build
/classes
/node_modules
out
/target
build
node_modules
bower_components
wdr.log
*.class
*.EAR

